pygimli==1.5.2
pgcore==1.5.2
tetgen==0.6.4
pyqt5
qtawesome==1.2
matplotlib==3.7
h5py
scikit-learn
scipy
pandas
distinctipy
verde
numpy==1.26.4
importlib_metadata
numba
openpyxl
adjustText
appconfigs
segyio
tsp_solver2
progress
spyder-kernels==3.0.*
qtpy
evodcinv
stochopy
disba
qtapputils